<form action="/form" method="POST">
    <label for="Nmae">Enter the Name</label>
    <input type="text" name="ModelName" id="Name" placeholder="Name">

    <label for="Surname">Enter the Surname</label>
    <input type="text" name="ModelSurname" id="Surname" placeholder="Surname">

    <label for="Email">Enter the Email</label>
    <input type="text" name="ModelEmail" id="Email" placeholder="Email">

    <label for="Phone">Enter the Phone</label>
    <input type="text" name="ModelPhoneNumber" id="Phone" placeholder="Phone">

    <label for="Country">Enter the Country</label>
    <input type="text" name="ModelCountry" id="Country" placeholder="Country">

    <label for="City">Enter the City</label>
    <input type="text" name="ModelCity" id="City" placeholder="City">

    <input type="submit" value="create model">
</form>