<header>
    <section class="logo">

    </section>
    <section class="nav">
        <nav>
            <ul>
                <li>Main</li>
                <li>List</li>
                <li>Become a model</li>
                <li>About</li>
            </ul>
        </nav>
    </section>
</header>